# Maven
target/
!src/**/target/
.flattened-pom.xml
/release.properties
pom.xml.releaseBackup

# IntelliJ IDEA
/.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Mac OS X laundry
.DS_Store

*~
